.item-detail{
    height: 100vh;
    background-color: #ACC3B0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-img{
    width: 25%;
    margin: 0rem 3rem;
}
.item-img:hover{
    cursor: zoom-in;
    transform: scale(1.5);
    transition: 2s ease;
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 10%);
}
.details-container{
    text-align: left;
    letter-spacing: 0.1rem;
}
.item-name{
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
}
.item-size{
    margin: 2rem 0rem;
    font-weight: 800;
    color: #fff;
}
.item-price{
    color: #fff;
    font-weight: 800;
    margin: 0.5rem 0rem;
}
.items-details{
    margin: 2rem 0rem;
    color: #fff;
}
.btn-addToCart{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 0.6rem;
    margin: 1rem 0rem;
    background-color: #faf7f3;
    color: #121212;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 10%);
}
.btn-goToCart{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 0.6rem;
    margin: 1rem 0rem;
    background-color: #121212;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 10%);
}