/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #ACC3B0;
}
.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/dgsapxeyx/image/upload/v1638279616/homeback_edhofg.jpg');
    background-position-y: 60%;
    background-position-x: 45%;
    background-size: 175%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-size: 1.3rem;
    text-align: center;
}
.home-title{
    font-size: 3.5rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin: 1rem 0rem;
}
.descriptionTitle{
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff;
}
a{
    text-decoration: none;
}
@media (max-width: 36em){
    .descriptionTitle{
        text-align: center;
    }
}