/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}
nav ul{
    margin: 0 1rem;
}
nav ul li{
    display: inline;
    margin: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
nav ul li a:hover{
    color: #887DA7;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #887DA7;
}
.navbar-light .navbar-toggler{
    color: #fff;
    border-color: #fff;
}
.navbar-light .navbar-toggler:focus{
    box-shadow: none;
}
.hamburger-icon{
    font-size: 1.5rem;
    color: #fff;
}
.navbar-cart{
    display: flex;
    align-items: center;
}
.item-counter{
    position: absolute;
    right: 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    color: #fff;
    padding: 0.3rem;
    margin-right: 1.5rem;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
/*Submenú*/
.submenu-arrow{
    font-size: 1.2rem;
    vertical-align: bottom;
    margin-left: 0.5rem;
}
.submenu{
    position: relative;
}
ul ul{
    display: none;
    position: absolute;
    width: 100%;
    top: 1rem;
    right: 2rem;
}
ul ul li{
    display: block;
    color: #fff;
    font-weight: 800;
    text-align: left;
}
ul li:hover ul{
    display: block;
}
.cart-widget-mobile{
    display: none;
}
@media (max-width: 61.99em){
    .navbar-collapse{
        position: relative;
        background-color: #E0D9FF;
        padding: 1rem 0rem;
        margin-top: 1rem;
        box-shadow: -5px 7px 14px -8px rgb(0 0 0 / 71%);
    }
    nav ul li{
        margin: 0;
    }
    ul li{
        padding: 0.5rem;
    }
    ul ul{
        display: block;
        position: initial;
        padding-left: 0;
    }
    .cart-widget-desktop{
        display: none;
    }
    .cart-widget-mobile{
        display: block;
        position: fixed;
        top: 1rem;
        right: 0.5rem;
        z-index: 1;
    }
    .cart{
        margin-right: 1.5rem;
    }
    .item-counter{
        margin: 0;
        right: 0;
    }
}