/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

/*NavBar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    position: fixed;
    top: 0;
    width: 98vw;
    z-index: 2;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
h1:hover{
    color: #887DA7;
}
nav ul{
    margin: 0 1rem;
}
nav ul li{
    display: inline;
    margin: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
nav ul li a:hover{
    color: #887DA7;
}
.navbar-cart{
    display: flex;
    align-items: center;
}
.item-counter{
    position: absolute;
    right: 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    color: #fff;
    padding: 0.3rem;
    margin-right: 1rem;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
/*Submenú*/
.submenu-arrow{
    font-size: 1.2rem;
    vertical-align: bottom;
    margin-left: 0.5rem;
}
.submenu{
    position: relative;
}
ul ul{
    display: none;
    position: absolute;
    width: 100%;
    top: 1rem;
    right: 2rem;
}
ul ul li{
    display: block;
    color: #fff;
    font-weight: 800;
    text-align: left;
}
ul li:hover ul{
    display: block;
}