/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

/*NavBar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    position: fixed;
    top: 0;
    width: 100vw;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}
h1:hover{
    color: #494949;
}
nav ul{
    margin: 0 1rem;
}
nav ul li{
    display: inline;
    margin: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
nav ul li a:hover{
    color: #494949;
}
.navbar-cart{
    display: flex;
    align-items: center;
}