.item-count-container{
    margin: 1rem auto;
    border-radius: 0.4rem;
}
.count-container{
    border: solid 1px #121212;
    border-radius: 0.3rem;
    margin: 1rem 0rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #FAF7F3;
}
.btn-counter{
    border: none;
    background-color: transparent;
    color: #121212;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.btn-addToCart{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 0.6rem;
    margin: 1rem 0rem;
    background-color: #faf7f3;
    color: #121212;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 10%);
}